figure{
    width:100%;
    margin:0;
    position:fixed;
    left:0;
    bottom:0px;
    overflow:scroll;
}

.container1{
    position:relative;
    display:flex;
}
body{
    background-image: url("../image/pro_back.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    overflow:scroll;
}

.container{
    display:flex; 
    flex-direction: column;
    font-family: cursive;
    font-size: 20px;
    position:absolute; 
    top:10px;
    /*color:white;  */
    color: white;
    margin-top:250px;
    margin-left:500px;
 }

.about p{
    font-family: cursive;
    font-size: 20px;
    position:absolute;
    margin-left: 160px;
    margin-top:50px;
    text-align:center;
    text-align: justify;
}

.about{
    color:white;
}

.about a{
    color:white;
    text-decoration: none;
}

.about a:hover{
    color:red;
}

